{% extends 'shop/base.html' %}
{% load static %}

{% block main %}
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-lg-12 text-center">
        <!-- About section starts -->
            <h1>Мы магазин бархатные тяги!</h1>
        </div>
        <div class="col-lg-12 text-center px-5 pt-4">
            <p>
                Мы самый лучший интернет магазин в мире Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Amet
                natus architecto ab facilis, quas at officiis nemo
                non dignissimos quasi sunt cupiditate laborum! Quis
                maiores vitae cumque incidunt vero neque. Lorem,
                ipsum dolor sit amet consectetur adipisicing elit.
                Deleniti, quo assumenda dolore ab deserunt aperiam
                qui illo nihil culpa? Tempora fugit cumque ullam!
                Illo quaerat temporibus magni quibusdam unde cumque?
                Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Adipisci unde repellat fugit iure velit id
                eum, quidem consectetur voluptates dignissimos,
                tempora aspernatur molestias culpa atque in quam
                veniam hic officiis? Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Hic excepturi harum
                iusto natus sint magni mollitia explicabo, error
                earum? Nobis sint quam doloremque, voluptas
                veritatis nulla culpa esse quasi inventore?Lorem
                ipsum dolor sit, amet consectetur adipisicing elit.
                Suscipit animi amet voluptate eligendi mollitia ea
                cupiditate optio. Non ratione exercitationem
                pariatur, dolore explicabo quos debitis, quia odio,
                soluta dolorem natus! Lorem ipsum dolor sit amet
                consectetur adipisicing elit. Quis eligendi, odio
                error ea voluptates minus cum maxime sapiente illum,
                ad vel ipsa placeat! Quidem laudantium ad
                perspiciatis tempore ab expedita. Lorem ipsum dolor
                sit amet consectetur adipisicing elit. Labore
                numquam ad neque? Itaque eius exercitationem eos
                alias nobis aperiam. Harum eius, saepe voluptatem
                similique optio doloremque minima id nam sapiente?
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Magni aliquam aut, quibusdam quas quasi
                dolores animi in praesentium et enim odit molestiae
                maxime rem ab numquam similique minima velit
                facere?Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Sapiente amet nostrum totam
                possimus. Vel adipisci quo beatae saepe, consectetur
                sequi perferendis reiciendis, suscipit repellendus
                laborum asperiores odit labore? Beatae, dicta. Lorem
                ipsum dolor sit amet consectetur adipisicing elit.
                Earum tempore eos eligendi consectetur
                necessitatibus dolorum fuga, similique
                exercitationem dolores ad voluptates quam delectus
                id officia et laborum ipsum esse. Repellat. Lorem
                ipsum dolor sit amet consectetur adipisicing elit.
                Porro quae ratione praesentium placeat veniam
                obcaecati nostrum odit repellat corporis facilis
                nemo consectetur, velit sunt culpa non
                exercitationem, mollitia laborum? Perspiciatis!
            </p>
        </div>
        <div class="col-lg-6 col-md-6 my-3 text-center">
            <img class="img-size me-2 mb-3" src="{% static 'shop/img/icons/instagram.svg' %}" alt="">
            <span class="fs-2">Instagram: </span>
            <h4>@jopashop</h3>
        </div>
        <div class="col-lg-6 col-md-6 my-3 text-center">
            <img class="img-size me-2 mb-3" src="{% static 'shop/img/icons/telephone.svg' %}" alt="">
            <span class="fs-2">Телефон: </span>
            <h3>+38043543543543</h3>
        </div>
        <!-- about section ends -->
    </div>
</div>
{% endblock main %}