<!-- category section starts -->
<div class="col-lg-3">
    <div class="col-lg-12 col-md-6 px-5 mb-4">
        <p>Категории товаров</p>
    </div>
    <div class="list-group px-5">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            Все товары
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                Хуйня паленка ебаная
            </a>
            <a href="#" class="list-group-item list-group-item-action">Норм шмотки</a>
            <a href="#" class="list-group-item list-group-item-action">Ахуеные куртки</a>
            <a href="#" class="list-group-item list-group-item-action">Пиздатые подкрадули</a>
            <a href="#" class="list-group-item list-group-item-action">Бархатные тяги</a>
    </div>    

    <div class="col-lg-12 col-md-6 px-5 my-4">
        <p>Производители</p>
    </div>
    <div class="list-group px-5 mb-5">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            Все производители
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                Афгани гучи
            </a>
            <a href="#" class="list-group-item list-group-item-action">Чумазый</a>
            <a href="#" class="list-group-item list-group-item-action">Куртки с рынка</a>
            <a href="#" class="list-group-item list-group-item-action">Георгий Армянин</a>
            <a href="#" class="list-group-item list-group-item-action">Баленсиага</a>
    </div>
</div>
<!-- category section ends -->