<!-- category section starts -->
<div class="col-lg-3">
    <div class="col-lg-12 col-md-6 px-5 mb-4">
        <p>Категории товаров</p>
    </div>
    <div class="list-group px-5">
        <a href="{% url 'shop:products' %}" class="list-group-item list-group-item-action active" aria-current="true">
            Все товары
            <a href="{% url 'shop:products-category' category_slug='shoes' %}" class="list-group-item list-group-item-action" aria-current="true">
                Обувь
            </a>
            <a href="{% url 'shop:products-category' category_slug='t-shirts' %}" class="list-group-item list-group-item-action">Футболки</a>
            <a href="{% url 'shop:products-category' category_slug='paitas' %}" class="list-group-item list-group-item-action">Пайты</a>
    </div>    

    <div class="col-lg-12 col-md-6 px-5 my-4">
        <p>Производители</p>
    </div>
    <div class="list-group px-5 mb-5">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            Все производители
            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                Афгани гучи
            </a>
            <a href="#" class="list-group-item list-group-item-action">Чумазый</a>
            <a href="#" class="list-group-item list-group-item-action">Куртки с рынка</a>
            <a href="#" class="list-group-item list-group-item-action">Георгий Армянин</a>
            <a href="#" class="list-group-item list-group-item-action">Баленсиага</a>
    </div>
</div>
<!-- category section ends -->